.close-task{
    float:right;
    cursor:pointer;
    margin-top:-6px;
    font-size:30px;

}

.close-task:hover{
    color:red
}
.modified-date{
    float:right;
    margin-left:20px;
    margin-top:25px;
    font-size:12px;
    color:rgb(119, 116, 116);
   
}