
body{
    font-family: 'Ropa Sans', sans-serif;
    background-color:whitesmoke;
    margin-left:50px;
    margin-right:50px;
}

.logout-btn{
    color:blue;
    text-decoration: underline; 
    float:right;
    cursor: pointer;
}
.error-msg{
    width:100%;
    text-align:center;
    color:red;
}