.new-task-form{
    display:flex;
    justify-content: center;
    align-content: space-around;
   
}

.new-task-form>button{
    width:100px;
    height:25px;
    cursor:button;
   
}

.new-task-form>input{
    width:65%;
    height:20px;
    margin-left:60px;
    margin-right:30px;
    text-align: center;
}

.error-msg{
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-content: space-around;
    color:red;
}